@font-face {
    font-family:"TrashHand";
    src: url("../fonts/TrashHand.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
    font-family:"Century Gothic";
    src: url("../fonts/CenturyGothic.ttf") /* TTF file for CSS3 browsers */
}

body {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    padding-right: 0 !important; 
}

.h100 {
    height: 100%;
}

.navbar-toggle {
    background-color: #f26356;
	margin-top: 21px;
	margin-bottom: 21px;
}



.icon-bar {
    background-color: white;
}

.navbar {
    background-color: white;
}

.navbar a {
    font-size: 17px;
    color: #f6a251;
    border-top: 2px solid transparent;
    font-weight: 100;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}

.navbar-nav a:hover,
#menu .active a {
    border-top: 2px solid #f26356;
}

.navbar-nav {
    padding: 12px 0;
}

#contact, #uvp {
    background-color: white;
}
.fp-tableCell {

  padding-top: 96px;
}

#home {

    background-size: cover;
    background-position: bottom;
}

.center {
    text-align: center;
}

.bandeau{
    background-color: rgba(150,210,176,0.82); /* rgba(242, 99, 86, 0.82); */
    position: absolute;
    top: 97px;
    left: 0;
    right: 0;
    

}
.bandeau a {
    color: white;
    line-height: 82px;
    font-size: 28px;
}

.btn-green {
    background-color: rgba(150,210,176,0.82);  /* #96d2b0; */
    color: white;
    font-size: 32px;
}

.connection {
    position: relative;
    bottom: -30%;
}

.arrow {
    background-image: url("../imgs/arrow.svg");
    display: inline-block;
    height: 53px;
    width: 50px;
    position: inherit;
    top: -10px;
    right: 20px;
}

h1 {
	font-size: 54px;
}

.sub {
	font-size: 25px;
}

h1, .sub {
    color: white;
    -webkit-text-shadow: 0 0 5px gray;
    -moz-text-shadow: 0 0 5px gray;
    text-shadow: 0 0 5px gray;
}

h2, h3{
    color: #f26356;
    font-family: "TrashHand";
}

h2 {
    font-size: 48pt;
}

h3 {
    font-size: 30px;
}

.big {
    font-size: 28px;
}

@media (max-width: 768px) { 
	h1 ,
	.sub {
		text-align: center;
	}
	h1 {
	    font-size: 31px;
	}
	h2 {
	    font-size: 32px;
	}
	.sub, p {
	    font-size: 17px;
	}
	.big {
	    font-size: 21px;
	}
	#home {
	    background: url("../imgs/phoneback.jpg");
	    background-size: cover;
	    background-position: bottom;
	}

	.navbar-toggle {
	    margin-top: 13px;
	    margin-bottom: 13px;
	}

	.navbar-brand>img{
	    height: 48px;
	}

	.backstretch {
	    display: none;
	}
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

#description {
    font-size: 22px;
    font-weight: 100;
    color: white;
    
    background-image: url("../imgs/australie.jpg");
    background-size: cover;

    text-align: center;
}

.space {
    margin: 38px 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.box:before{
    content: "";
    display: block;
    padding-top: 75%; 	
}

.box-content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.uvp {
    background-size: cover;
	background-position: center;
}

.uvp1 {
    background-image: url("../imgs/uvp1.jpg");
}

.uvp2 {
    background-image: url("../imgs/uvp2.jpg");
}

.uvp3 {
    background-image: url("../imgs/uvp3.jpg");
}

.uvp4 {
    background-image: url("../imgs/uvp4.png");
}

.green-round {
    background-color: rgb(150,210,176);
    border-radius: 50%;
    text-align: center;
    width: 80px;
    height: 80px;
    margin: auto;
    vertical-align: middle;
    line-height: 80px;
}

.picto-legend {
    color: #f26356;
    font-size: 28px;
    font-family: "TrashHand";
    text-align: center;
    font-weight: 100;
}

.stick {
    padding:0;
}

.picto {
  top: -40px;
  position: relative;
}

.btn-center {
    display: block;
    margin: auto;
}

.btn-green-round {
    background-color: rgb(150,210,176);
    border-radius: 50%;
    text-align: center;
    height: 64px;
    width: 64px;
    line-height: 57px;
    color: white;
    font-family: "TrashHand";
    font-size: 48px;
}

.btn-red {
	color: white;
	background-color: #f26356;
}
.inputs {
    margin: 5% 0;
}

.green {
    color: rgb(150,210,176);
}

label.green {
    font-size: 33px;
}

.modal-content {
    border-radius: 0;
    background-color: rgba(255,255,255,0.85);
}

.modal-header {
    border-bottom: 0;
}

.top2e{
    margin-top: 2em;
    margin-bottom: 2em;
}

.form-control:focus {
  border-color: #f26356;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #f26356;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #f26356;
}

#home input {
	background-color: rgba(255,255,255,0.9);
}

.bottom15 {
	margin-bottom: 15px !important;
}

footer {
    padding-bottom: 40px;
}

.backstretch img {
    bottom: 0 !important;
    top: initial !important;
}

.bottom2e {
    margin-bottom: 7em;
}

.valign{
	vertical-align: middle;
	display: inline-block;
}

.pictoBouf{top:0px;left:0px;
width:67px;height:56px;background: url("../imgs/picto.png") no-repeat -0px -0px;}
.pictoBox{top:0px;left:0px;
width:56px;height:66px;background: url("../imgs/picto.png") no-repeat -0px -56px;}
.pictoTel{top:0px;left:0px;
width:39px;height:56px;background: url("../imgs/picto.png") no-repeat -67px -0px;}
.pictoWallet{top:0px;left:0px;
width:53px;height:54px;background: url("../imgs/picto.png") no-repeat -56px -56px;}
